<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Add Product</title>
</head>

<body>
    <div>
        <nav>
            <ul>
                <li><a href="/">Shoestore</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <br>
        <div class="dataStore-detail">
            <% if (errors) { %>
                <% errors.split(',').forEach(element => { %>
                    <div style="color: red;">
                        <%= element %> 
                    </div>
                <% }) %>
            <% } %>
        </div>
        <form action="/admin/add" method="post">
            <div>
                Name Product
                <input type="text" name = "name" >
            </div>
            <div>
                Email Store
                <input type="email" name="emailStore" >
            </div>
            <div>
                <input type="submit" value="Add Store" class="detail">
            </div>
        </form>
    </div>
</body>

</html>