<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Order Product Toko</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Shoestore</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="dataStore-detail">
        <h1>
            <%= dataStore.name %>
        </h1>
        <br>
    </div>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Oder Number Customer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% order.forEach((el,index)=> { %>
                    <tr>
                        <td><%= el.orderNumber %></td>
                        <td>
                            <a href="<%= el.id %>/order/status" class="detail">See Orderan</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>